.settings-option {
  margin-bottom: 16px;
  justify-content: space-between;
  display: flex;
  gap: 8px;
}

.settings-option label {
  margin-right: 8px;
  font-weight: bold;
}

.settings-select {
  width: 100%;
}

.ant-modal-title, .ant-modal-close-icon {
  color: var(--text-primary) !important;
}

