.expenses-header {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 30px;
    padding: 12px 20px;
    max-width: 652px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #191919;
    align-items: center;
}

.expenses-header-participant,
.expenses-header-expense,
.expenses-header-price,
.expenses-header-date-time {
    display: flex;
    justify-content: left;
    text-align: center;
}

.expenses-header>div:not(:first-child) {
    padding-right: 16px;
}

.expenses-header-arrow-icon {
    cursor: pointer;
    justify-self: end;
}

.expenses-header-participant-label,
.expenses-header-expense-label,
.expenses-header-price-label,
.expenses-header-date-time-label {
    font-family: Nunito, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.expenses-header-arrow-icon {
    width: 6px;
}