.expense-item {
    display: grid;
    grid-template-columns: 1.5625rem 3fr 1fr 2fr 1.25rem;
    gap: 1.25rem;
    align-items: center;
    padding: 0.75rem 1.25rem;
    background-color: #edf2fc;
    border-radius: 0.3125rem;
    color: #191919;
    font-size: 0.75rem;
}

.expense-icon {
    width: 1.875rem;
    height: 1.875rem;
    object-fit: cover;
    justify-self: start;
}

.expense-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.25rem;
}

.expense-title,
.expense-location {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    color: #191919;
}

.expense-location {
    font-weight: 300;
    font-size: 0.5rem;
}

.expense-price {
    justify-self: center;
    padding: 0.625rem 1.25rem;
    background-color: rgba(98, 177, 106, 0.1);
    color: #62b16a;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 0.75rem;
    text-align: center;
}

.expense-timestamp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-right: 3.125rem;
}

.edit-icon {
    justify-self: end;
}

.expense-date,
.expense-time {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #191919;
}

.expense-time {
    font-size: 0.625rem;
}

.user-icon-wrapper {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background-color: #f0f0f0;
    justify-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon {
    font-size: 1.5rem;
    color: #888;
}