import './{{kebab-case name}}.css';
import { useTranslation} from "react-i18next";

export const {{pascalCase name}} = () => {
const { t } = useTranslation();

return (
<div className="{{kebab-case name}}">
    {t('title')}
</div>
);
};