import './{{kebab-case name}}.css';



export const {{pascalCase name}} =  () => {
    return (
        <div className="{{kebab-case name}}">
            {{pascalCase name}} Component
        </div>
    );
};

