import './{{kebab-case name}}.css';
import { useTranslation} from "react-i18next";

export const {{pascalCase name}} = () => {

return (
<div className="{{kebab-case name}}">
    {{kebab-case name}}
</div>
);
};