.connection-wrapper {
    padding-right: 70px;
}

.connection {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.connected {
    background: green;
}

.disconnected {
    background: red;
}