.connection-wrapper {
    padding-right: 5rem;
}

.connection {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
}

.connected {
    background: green;
}

.disconnected {
    background: red;
}

.ConnectionHealth {
    align-items: center;
    justify-content: center;
    align-items: center;
}

[dir="rtl"] {
    .connection-wrapper {
        padding-right: 0rem;
        padding-left: 5rem;
    }
    .connection {
        margin-right: 0rem;
        margin-left: 0.5rem;
    }
    .connected {
        float: right;
    }
    
    .disconnected {
        float: right;
    }
    
}