.expense-list-header {
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    font: 700 1.125rem Nunito, sans-serif;
}

.list-name {
    color: #191919;
    margin: 0;
}

.list-header-actions {
    display: flex;
    gap: 1.25rem;
    font-size: 1rem;
    white-space: nowrap;
}

.total-amount {
    color: #2b9943;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    margin-right: 1.75rem;
}

.list-filters {
    display: flex;
    gap: 1.25rem;
    font-weight: 400;
    align-items: center;
}

.filter-button,
.sort-button {
    color: #191919;
    font-family: Nunito, sans-serif;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.sort-button:focus,
.filter-button:focus {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

.sort-button {
    color: #5b93ff;
}

.list-options-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.list-divider {
    border: 1px solid rgba(0, 25, 48, 1);
    background-color: #001930;
    margin-top: 3.6875rem;
    width: 100%;
}

.menu-Remove {
    color: "red";
}