.expenses-list {
    border-radius: 0.625rem;
    padding: 1.25rem 1.25rem;
    background: var(--background-primary);

    /* box-shadow: 0.125rem 0.125rem 0.125rem 0.25rem rgba(201, 203, 205, 0.1); */
    /* box-shadow: 0.125rem 0.125rem 0.125rem 0.25rem var(--box-shadow-color);
    box-shadow: 0.0625rem 0.25rem 2.5rem var(--box-shadow-color); */
    /* box-shadow: 0.0625rem 0.25rem 2.5rem var(--box-shadow-color); */
}

.expenses-list .expense-item:nth-child(odd) {
    background-color: var(--list-row-odd-background);
}

.expenses-list .expense-item:nth-child(even) {
    background-color: var(--background-primary);
}

.sperated-expenses-list {
    opacity: 0.05;
    border: 0.0625rem solid var(--text-primary);
}

.add-expense-button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    color: var(--button-text-disabled);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 1rem;
}

.add-expense-button:hover {
    background-color: var(--button-hover);
}

.add-expense-button svg {
    margin-right: 0.5rem;
}