.stat-card {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    gap: 20px;
    padding: 28px 33px;
    box-shadow: 2px 2px 2px 4px rgba(201, 203, 205, 0.1);
    align-items: center;

}

.stat-icon-wrapper {
    background-color: #FFF7E1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 52px;
    height: 52px;
}

.stat-icon {
    font-size: 26px;
    color: #F5C452;
}

.stat-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-value {
    font: 800 22px 'Nunito', sans-serif;
    color: #191919;
    text-align: left;
}

.stat-label {
    margin-top: 11px;
    font: 400 14px 'Nunito', sans-serif;
    color: #646464;
}