.overview-section {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.25rem;
    margin-bottom: -2rem;
}

.stats-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(18.75rem, 1fr));
    gap: 1.25rem;
    justify-content: center;
    box-sizing: border-box;
    width: 90%;
}

.notification-card {
    box-shadow: 0.125rem 0.125rem 0.125rem 0.25rem rgba(201, 203, 205, 0.1);
    width: 90%;
    border-radius: 0.625rem;
    margin-top: -0.25rem;
    margin-bottom: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}