.expense-list-header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font: 700 18px Nunito, sans-serif;
}

.expense-list-header {

    .list-name {
        color: #191919;
        margin: 0;
    }

    .list-header-actions {
        display: flex;
        gap: 20px;
        font-size: 16px;
        white-space: nowrap;

    }

    .total-amount {
        color: #2b9943;
        font-family: Nunito, sans-serif;
        font-weight: 700;
        margin-right: 28px;

    }

    .list-filters {
        display: flex;
        gap: 20px;
        font-weight: 400;
        align-items: center;
    }

    .filter-button,
    .sort-button {
        color: #191919;
        font-family: Nunito, sans-serif;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }


    .sort-button:focus,
    .filter-button:focus {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        outline: none;
    }


    .sort-button {
        color: #5b93ff;
    }

    .list-options-icon {
        width: 20px;
        height: 20px;
    }

    .list-divider {
        border: 1px solid rgba(0, 25, 48, 1);
        background-color: #001930;
        margin-top: 59px;
        width: 100%;
    }

}

.menu-Remove {
    color: "red"
}