.notification-expense {
    align-items: center;
    display: flex;
    gap: 20px;
    border-radius: 5px;
    padding: 20px;
}

.notifications-icon {
    height: 24px;
    width: 24px;
}

.notifications-title {
    color: #191919;
    font: 700 18px Nunito, sans-serif;
    margin: 0;
}



.notification-avatar {
    height: 30px;
    width: 30px;
}

.notification-content {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.notification-description {
    color: #191919;
    font: 400 14px Nunito, sans-serif;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-amount {
    background-color: #62b16a;
    border-radius: 8px;
    color: #fff;
    font: 700 12px Nunito, sans-serif;
    padding: 10px 17px;
    text-align: center;
}