.notification-expense {
    align-items: center;
    display: flex;
    gap: 1.25rem;
    border-radius: 0.3125rem;
    padding: 0.5rem 1.25rem;
}

.notifications-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.notifications-title {
    color: #191919;
    font: 700 1.125rem Nunito, sans-serif;
    margin: 0;
}

.notification-avatar {
    height: 1.875rem;
    width: 1.875rem;
}

.notification-content {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.notification-description {
    color: #191919;
    font: 400 0.875rem Nunito, sans-serif;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-amount {
    background-color: #62b16a;
    border-radius: 0.5rem;
    color: #fff;
    font: 700 0.75rem Nunito, sans-serif;
    padding: 0.625rem 1.0625rem;
    text-align: center;
}