.navbar {
	box-sizing: border-box;
	padding: 0 2.25rem 0 1.5rem;
	width: 100%;
	height: 4.375rem;
	background: #ffffff;
	box-shadow: 0.0625rem 0.25rem 2.5rem rgba(230, 234, 239, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left-nav,
.right-nav {
	display: flex;
	align-items: center;
}

.logo {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	line-height: 2rem;
	color: #191919;
	display: flex;
	align-items: center;
	text-decoration: none;
	height: 4rem;
}

.user-photo span {
	width: 2.875rem;
	height: 2.875rem;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}

.user-name,
.user-login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.user-login {
	margin-right: 2.875rem;
	cursor: pointer;
}

.app-name {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
	text-transform: uppercase;
	color: #456085;
}

.auth-action {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25rem;
	color: #191919;
	cursor: pointer;
}

.auth-action:hover {
	text-decoration: underline;
}

.auth-container {
	display: flex;
	gap: 2rem;
}



.menu-logout {
	color: "red";
}