@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#root,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
}



.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}