[data-theme="dark"] {
  --background: #1E2631;

  --primary-color: #0056b3;

  --text-color-on-background: #FFFFFF;
  --logo-color-on-background: #8095B2;
  --muted-text-color-on-background: #FFFFFFB3;

  --yellow-icon-background: #FFD66B;
  --yellow-icon-color: #F5C451;
  --green-icon-background: #68CC58;
  --green-icon-color: #62B16A;

  --cash-green-text-color: #62B16A;
  --aqua-text-color: #5B93FF;

  --table-odd-row-background: #2C3343;

  --primary-btn-active: #141A22;
  --primary-btn-disabled: #2D3541;

  --text-on-primary-btn-active: #FFFFFF;
  --text-on-primary-btn-disabled: #FFFFFFCC;

}