[data-theme="dark"] {
  /* general  */
  --primary-color: #0056b3;
  --secondary-color: #8095B2;
  --accent-color: #F5C451;
  --background-color: #1E2631;
  --foreground-color: #FFFFFF;
  --text-color: #FFFFFF;
  --muted-text-color: #FFFFFFB3;
  --link-color: #5B93FF;
  --border-color: #2C3343;
  --hover-color: #5B93FF33;
  --active-color: #0056b3;
  --disabled-color: #2D3541;
  --box-shadow-color: #141C27;

  /* texts */
  --text-primary: #FFFFFF;
  --text-secondary: #8095B2;
  --text-muted: #FFFFFFB3;
  --text-on-primary: #FFFFFF;
  --text-on-secondary: #FFFFFF;
  --text-on-background: #FFFFFF;
  --text-on-disabled: #FFFFFFCC;

  /* background */
  --background-primary: #161E29;
  --background-secondary: #1E2631;
  --background-muted: #2C3343;
  --background-hover: #243040;
  --background-active: #141A22;
  --background-disabled: #2D3541;

  /* button */
  --button-primary: #5B93FF;
  --button-secondary: #8095B2;
  --button-hover: #5B93FF33;
  --button-active: #141A22;
  --button-disabled: #2D3541;
  --button-text: #FFFFFF;
  --button-text-disabled: #FFFFFFCC;

  /* list */
  --list-header-background: #2C3343;
  --list-row-background: #1E2631;
  --list-row-hover: #243040;
  --list-row-active: #2C3343;
  --list-row-odd-background: #2C334380;
  --list-row-even-background: #1E263180;
  --list-border-color: #2C3343;
  --list-text-primary: #FFFFFF;
  --list-text-secondary: #8095B2;

  /* icons */
  --icon-primary: #F5C451;
  --icon-secondary: #2B9943;
  --icon-muted: #E9E9E9;
  --icon-muted-secondary: #C8CFD9;
  --icon-hover: #F5C45180;
  --icon-active: #F5C451;
  --icon-background-primary: #FFD66B33;
  --icon-background-secondary: #2B994366;
  --icon-background-muted: #86868666;

  /* badges */
  --badge-primary-background: #62B16A1A;
  --badge-secondary-background: #EDF2FC;
  --badge-primary-text: #62B16A;
  --badge-secondary-text: #191919;
}
