* {
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --bg-container: #B1BDCD45;
  --bg-icon: #FFD66B;
  --bg-icon-opacity: 20%;

  --font-color: #191919;
  --font-green: #2B9943;
  --font-blue: #5B93FF;

  --table-row-even: #EDF2FC;

  --bg-cash-green: #62b16a;
  --bg-cash-opacity: 10%;
  --font-cash-green: #62B16A;

  --font-logo-color: #456085;
  --logo-color: #191919;

  --bg-button: #425B7B;
  --bg-button-disable: #EBF0F7;
  --font-button: #ffffff;
}

[data-theme="dark"] {

  --bg-color: #1E2631;
  --bg-container: #141C27;

  --bg-icon: #FFD66B;
  --bg-icon-opacity: 20%;

  --font-color: #FFFFFF;
  --font-green: #2B9943;
  --font-blue: #5B93FF;

  --table-row-even: #EDF2FC;

  --bg-cash-green: #62B16A;
  --font-cash-green: #62B16A;
  --bg-cash-opacity: 10%;

  --font-logo-color: #8095B2;
  --logo-color: #FFFFFF;

  --bg-button: #141A22;
  --bg-button-disable: #2D3541;
  --font-button: #ffffff;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--font-color);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background: var(--bg-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 20rem;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  border: 0.0625rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 0.25rem auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}