:root {
  --background:#FFFFFF;


  --text-color-on-background:#191919;
  --logo-color-on-background:#456085;
  --muted-text-color-on-background:#191919B3;

  --yellow-icon-background:#FFD66B;
  --yellow-icon-color:#F5C451;
  --green-icon-background:#68CC58;
  --green-icon-color:#62B16A;

  --cash-green-text-color:#59AC4C;
  --aqua-text-color:#5B93FF;

  --table-odd-row-background:#EDF2FC;

  --primary-btn-active:#425B7B;
  --primary-btn-disabled:#EBF0F7;

  --text-on-primary-btn-active:#FFFFFF;
  --text-on-primary-btn-disabled:#425B7B;

}