.notification {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
}

.notifications-container {

    padding: 0px 20px;
}

.notifications-container .notification-item:nth-child(even) {
    background-color: #EDF2FC50;
}