.notification {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 4px rgba(201, 203, 205, 0.1);
    align-items: center;

}

.notifications-container {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 448px;
    padding: 26px 25px;
}

.notifications-header {
    align-items: center;
    display: flex;
    gap: 14px;
    margin-left: 13px;
}

.notifications-icon {
    height: 24px;
    width: 24px;
}